streamlit
tensorflow
opencv-python
numpy
pandas
Pillow
matplotlib
pytesseract
scikit-image
scikit-learn
python-docx
PyMuPDF
python-magic-bin; sys_platform == "win32"
python-magic; sys_platform != "win32"
easyocr
h5py
