streamlit
tensorflow==2.11.0
opencv-python-headless
numpy
pandas
Pillow
matplotlib
pytesseract
scikit-image
scikit-learn
python-docx
PyMuPDF
python-magic-bin; sys_platform == "win32"
python-magic; sys_platform != "win32"
stegano==0.9.5
h5py
fpdf


